.flows.json.backup
[
    {
        "id": "7b44c53e9d42ab59",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1ec9f1f.d1eb88",
        "type": "inject",
        "z": "7b44c53e9d42ab59",
        "name": "Query Real-Time Data4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "f3e71d65.9c2f8"
            ]
        ]
    },
    {
        "id": "f3e71d65.9c2f8",
        "type": "tcp request",
<<<<<<< HEAD
        "z": "7b44c53e9d42ab59",
=======
        "z": "612c8a5b19ca03c1",
>>>>>>> f5ee70f2ede1ad6819a0e2b0a152b5edf82d8797
        "name": "Query Real-Time TCP",
        "server": "192.168.91.53",
        "port": "10001",
        "out": "single",
        "splitc": "false",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "6600fe32.f66b28"
            ]
        ]
    },
    {
        "id": "6600fe32.f66b28",
        "type": "function",
<<<<<<< HEAD
        "z": "7b44c53e9d42ab59",
=======
        "z": "612c8a5b19ca03c1",
>>>>>>> f5ee70f2ede1ad6819a0e2b0a152b5edf82d8797
        "name": "Process Real-Time Data",
        "func": "msg.payload = msg.payload.toString('ascii').trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "9c3a4ab9.6f89e8"
            ]
        ]
    },
    {
        "id": "9c3a4ab9.6f89e8",
        "type": "debug",
<<<<<<< HEAD
        "z": "7b44c53e9d42ab59",
=======
        "z": "612c8a5b19ca03c1",
>>>>>>> f5ee70f2ede1ad6819a0e2b0a152b5edf82d8797
        "name": "Real-Time Data",
        "active": true,
        "console": "false",
        "complete": "true",
<<<<<<< HEAD
        "x": 870,
        "y": 240,
=======
        "x": 880,
        "y": 200,
>>>>>>> f5ee70f2ede1ad6819a0e2b0a152b5edf82d8797
        "wires": []
    },
    {
        "id": "c1b9b7b0.9f88f8",
        "type": "inject",
        "z": "7b44c53e9d42ab59",
        "name": "Download Stored Data4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp",
        "payloadType": "date",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "bf6a5a87.1a4f28"
            ]
        ]
    },
    {
        "id": "bf6a5a87.1a4f28",
        "type": "tcp request",
<<<<<<< HEAD
        "z": "7b44c53e9d42ab59",
=======
        "z": "612c8a5b19ca03c1",
>>>>>>> f5ee70f2ede1ad6819a0e2b0a152b5edf82d8797
        "name": "Download Stored Data TCP",
        "server": "192.168.91.53",
        "port": "10001",
        "out": "single",
        "splitc": "false",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "72fd7643.27b76c"
            ]
        ]
    },
    {
        "id": "72fd7643.27b76c",
        "type": "function",
<<<<<<< HEAD
        "z": "7b44c53e9d42ab59",
=======
        "z": "612c8a5b19ca03c1",
>>>>>>> f5ee70f2ede1ad6819a0e2b0a152b5edf82d8797
        "name": "Process Stored Data",
        "func": "msg.payload = msg.payload.toString('ascii').trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "22e45c34.d080e4"
            ]
        ]
    },
    {
        "id": "22e45c34.d080e4",
        "type": "debug",
<<<<<<< HEAD
        "z": "7b44c53e9d42ab59",
=======
        "z": "612c8a5b19ca03c1",
>>>>>>> f5ee70f2ede1ad6819a0e2b0a152b5edf82d8797
        "name": "Stored Data",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 870,
        "y": 300,
        "wires": []
    }
]